body div .row div .mycard{/*Card*/
  margin-top: 20%;
}
body .container .row div .mycard .card-header h1{/*Card header title*/
  font-size: 2em;
}
/* -- */
body div .row div .mycard .display-calc div input{ /*Display*/
  border: 0px;
  padding: 10px 1px;
  border-radius: 5px;
  background-color: #242424;
  color: #ffffff;
  text-align: center;
  transition: all .3s;
  box-shadow: 0 0 5px #000;
}
/* -- */
body div .row div .mycard .display-calc div .result-d{ /*Display result*/
  border-left: 3px solid #dddddd;
  border-right: 3px solid #dddddd;
  padding: 10px 1px;
  border-radius: 5px;
}

body .container .row div .mycard .card-body .options-calc div .row .cont-buttons button{
  transform: rotate(0deg) scale(1);
  transition: all .2s;
}

body .container .row div .mycard .card-body .options-calc div .row .cont-buttons button:hover{
  transform: rotate(5deg) scale(0.9);
  box-shadow: 0 0 10px #000000;
  transition: all .2s;
}
body .container .row div .mycard .card-body .options-calc div .row .cont-buttons button:active{
  transform: rotate(-5deg) scale(1.1);
  background-color: #a0c2b6;
  border-color: #a0c2b6;
}




@media only screen and (max-width: 768px) and (min-width: 1px) {
  
  body div .row div .mycard .display-calc div .result-d{ /*Display result*/
    margin-top: 3%;
  }
}
