html
    head
        link(rel='stylesheet' href='public/css/main.css')
        meta(name='viewport' content='width=device-width, initial-scale=1,0, user-scalable=none')
        meta(charset='utf-8')
    body
        section.main-container
        // start : footer
        footer.site-footer
          .container
            .row
              // start : boton
              .col.s12.l3.center-align
                // Dropdown Trigger
                a.dropdown-trigger.btn(href='#', data-target='dropdown1') Idioma
                // Dropdown Structure
                ul#dropdown1.dropdown-content
                  li
                    a(href='#!')
                      i.material-icons laguaje
                      | Español
                  li
                    a(href='#!')
                      i.material-icons laguaje
                      | Inglés
              // end : boton
              // start : marca
              .col.s12.l3.push-l6.center-align
                | 2019 StudentGram
              // end : marca
        // end : footer
        script(src='public/js/jquery-3.3.1.min.js')
        script(src='public/js/materialize.min.js')
  
