.container-img1{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative; 
}

@media (min-width: 993px){
    .container-img1{
        width: 80%;
        height: auto;
        margin-left: 15%;
        margin-top: 15%;
    }
}
.container-img1::before{
    position: absolute;
    width: 100%;
    height: 90%;
    background: rgba(150, 150, 300, 0.5);
    content: "";
    z-index: 1;
    transform: translate(100%,100%) rotateZ(-50deg);
    transition: transform .5s;
}

.container-img1:hover::before{
    transform: translate(40%,40%) rotateZ(-50deg) scale(1.5);
    cursor: pointer;
}