header nav ul > li{
    font-size: 0.1em;
}
.card-form-login{
    box-shadow: 0 0 5px #ccc;
}

.reg-msm{
    font-size: .8em;
}

.reg-msm a{
    font-size: inherit;
    color: cadetblue;
    text-decoration: none;
    transition: color .2s;
}

.reg-msm a:hover{
    cursor: pointer;
    color: darkseagreen;
}

.icon-page{
    animation: animationGadget 2.5s infinite alternate ease-in-out;
}

@keyframes animationGadget{
    0%{
        transform: translateX(5px);
    }
    50%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(5px);
    }
}