<table class="table table-dark table-striped">
    <thead>
        <th>Nombre</th>
        <th>Palabra</th>
    </thead>
    <tbody>
        <tr>
            <td>Zachary</td>
            <td>infrastructures</td>
        </tr>
        <tr>
            <td>Frieda</td>
            <td>Unbranded</td>
        </tr>
        <tr>
            <td>Amparo</td>
            <td>Kansas</td>
        </tr>
    </tbody>
</table>