*{
  margin: 0px;
  padding: 0px;
}
body{
  z-index: -1;
  background-color: rgba(30, 162, 103, 0.72);
}
.container{
  z-index: 2;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 90%;
  height: 70%;
  margin-top: 6%;
  margin-left: 4%;
  border-radius: 10px;
  padding: 1% 1%;
}
h1{
  font-family: cursive;
  text-transform: uppercase;
  text-align: center;
}
