$secondary-color: #3f6781;
// --
@import "node_modules/materialize-css/sass/materialize.scss";
// --------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Love+Ya+Like+A+Sister');

/* -------------------------------------------------------------------------------- */

body{
  background-image: linear-gradient(#e4eeec,#9c9d9d);
}

.img{
  width: 100%;
  margin-top: 40%;
}

.main-container{
  margin: 30px auto;
}

.signup-box .StudentGram{
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  font-size: 300%;
  font-weight: bold;
}

.signup-box h2{
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  font-size: 18px;
}

.signup-box,
.login-box{
  border-left: 2px solid #ebeceb;
  border-right: 2px solid #ebeceb;
  padding: 1% 8%;
}

.login-box{
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  border-bottom: 2px solid #ebeceb;
}

.signup-box form input::placeholder{
  color: #3f544f;
}

.signup-box .section a{
  background-color: #3f6781 !important;
}

.signup-box .section a:hover{
  background-color: #204054 !important;
}

.signup-box button{
  margin-left: 35% !important;
  margin-top: 5% !important;

}
