body{
    background-image: url("../img/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: -1000;
}

/* Circulos */

body .semaforo-1{
    position: absolute;
    width: 10em;
    height: 10em;
    background-color: #00000059;    
    background-image: url("../img/semaforo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #ffffff;
    border-radius: 100px 100px 0px 100px;
    margin-top: 200px;
    margin-left: 400px;
}
body .semaforo-1 .red{
    width: 1.8em;
    position: absolute;
    height: 1.8em;
    border-radius: 100px;
    margin-left: 59.9px;
    margin-top: 15px; 
}
body .semaforo-1 .yellow{
    width: 1.8em;
    position: absolute;
    height: 1.8em;
    border-radius: 100px;
    margin-left: 59.9px;
    margin-top: 51px; 
}
body .semaforo-1 .green{
    width: 1.8em;
    position: absolute;
    height: 1.8em;
    border-radius: 100px;
    margin-left: 59.9px;
    margin-top: 88px; 
}
/* -- */
body .semaforo-2{
    position: absolute;
    width: 10em;
    height: 10em;
    background-color: #00000059;    
    background-image: url("../img/semaforo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #ffffff;
    border-radius: 0px 100px 100px 100px;
    margin-top: 400px;
    margin-left: 810px;
}
body .semaforo-2 .red{
    width: 1.8em;
    position: absolute;
    height: 1.8em;
    border-radius: 100px;
    margin-left: 59.9px;
    margin-top: 15px; 
}
body .semaforo-2 .yellow{
    width: 1.8em;
    position: absolute;
    height: 1.8em;
    border-radius: 100px;
    margin-left: 59.9px;
    margin-top: 51px; 
}
body .semaforo-2 .green{
    width: 1.8em;
    position: absolute;
    height: 1.8em;
    border-radius: 100px;
    margin-left: 59.9px;
    margin-top: 88px; 
}
/* -- */
body .semaforo-3{
    position: absolute;
    width: 10em;
    height: 10em;
    background-color: #00000059;    
    background-image: url("../img/semaforo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #ffffff;
    border-radius: 100px 100px 100px 0px;
    margin-top: 120px;
    margin-left: 760px;
}
body .semaforo-3 .red{
    width: 1.8em;
    position: absolute;
    height: 1.8em;
    border-radius: 100px;
    margin-left: 59.9px;
    margin-top: 15px; 
}
body .semaforo-3 .yellow{
    width: 1.8em;
    position: absolute;
    height: 1.8em;
    border-radius: 100px;
    margin-left: 59.9px;
    margin-top: 51px; 
}
body .semaforo-3 .green{
    width: 1.8em;
    position: absolute;
    height: 1.8em;
    border-radius: 100px;
    margin-left: 59.9px;
    margin-top: 88px; 
}
/* -- */
body .semaforo-4{
    position: absolute;
    width: 10em;
    height: 10em;
    background-color: #00000059;    
    background-image: url("../img/semaforo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #ffffff;
    border-radius: 100px 0px 100px 100px;
    margin-top: 480px;
    margin-left: 460px;
}
body .semaforo-4 .red{
    width: 1.8em;
    position: absolute;
    height: 1.8em;
    border-radius: 100px;
    margin-left: 59.9px;
    margin-top: 15px; 
}
body .semaforo-4 .yellow{
    width: 1.8em;
    position: absolute;
    height: 1.8em;
    border-radius: 100px;
    margin-left: 59.9px;
    margin-top: 51px; 
}
body .semaforo-4 .green{
    width: 1.8em;
    position: absolute;
    height: 1.8em;
    border-radius: 100px;
    margin-left: 59.9px;
    margin-top: 88px; 
}

.red{
    background-image: linear-gradient(to right, rgb(214, 81, 70) 50%,rgb(155, 40, 31) 50%);  
}
.yellow{
    background-image: linear-gradient(to right, rgb(219, 194, 52) 50%,rgb(165, 146, 34) 50%);  
}
.green{
    background-image: linear-gradient(to right, rgb(132, 198, 73) 50%,rgb(67, 119, 21)50%);  
}

/* -------------------------------------------------------------- */

.redTurnOn{
    background-color: rgb(249, 153, 153) !important;
    box-shadow: 0 0 15px rgb(240, 0, 0) !important;
}
/* -- */
.yellowTurnOn{
    background-color: rgb(255, 248, 150) !important;
    box-shadow: 0 0 15px rgb(218, 204, 7) !important;
}
/* -- */
.greenTurnOn{
    background-color: rgb(150, 255, 150) !important;
    box-shadow: 0 0 15px rgb(0, 255, 0)  !important;
}