body section .botones{
  margin-left: 20%;
  margin-top: 8%;
}

/* ---------- */
body div .btns{
  margin-left: 28%;
}

.area-testOne{
  text-align: center;
  color: #fff;
  width: 50%;
  height: auto;
  background-color: #3b4941;
  margin-top: 5%;
  margin-left: 25%;
  padding: 1% 0%;
  border-radius: 5px;
}

.area-testTwo{
  text-align: center;
  color: #fff;
  width: 50%;
  height: auto;
  background-color: #154f48;
  margin-top: 5%;
  margin-left: 25%;
  padding: 5% 0%;
  border-radius: 5px;
}

#game .img-fondo{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
}

#game .img-character{
  position: fixed;
  width: 10%;
  margin-top: 20%;
  margin-left: 45%;
}

/* ----------------------------------------------------FORMULARIO */
.container-form{
  margin-left: 13%;
  width: 90%;
}

body section div .card{
  margin-left: 25%;

}

.bdyScroll{
  margin-top: 5em;
  margin-bottom: 10em;

} 

/* ----------------------------------------------------Multimedia */

body .container .reproductor{
  border: 2px solid #bbbb;
  border-radius: 5px;
  width: 15%;
  padding: 20px 16px;
}

/* ----------------------------------------------------Galeria */

body .galeria .imagenes img{
  width: 10%;
  display: inline-block;
  margin: 5px 5px;
}